/* Estilos generales para toda la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6; /* Azul menos brillante */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

/* Estilos para la clase 'border-grey' */
.border-grey {
    border: 4px solid #ccc; /* Borde más grueso */
    padding: 20px; /* Espacio interno para evitar que toque los extremos */
    margin-bottom: 20px;
}

/* Estilos para la sección principal */
h2 {
    color: #333;
    font-size: 24px;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para el pie de página */
footer {
    background-color: #0073e6; /* Azul menos brillante */
    color: #fff;
    padding: 10px;
    text-align: center;
}
